:root {
    --orange: #ff7a00;
    --blue: #005b96;
}

.text-blue {
    color: var(--blue) !important;
}

.text-orange {
    color: var(--orange) !important;
}

.bg-blue {
    background-color: var(--blue) !important;
}

.btn-orange {
    background-color: var(--orange);
    color: white;
    border-radius: 8px;
    padding: 10px 20px;
    transition: .3s;
}
.btn-orange:hover {
    background-color: #e86d00;
}

.auth-card {
    border-radius: 15px;
    border: 2px solid var(--blue);
}
